@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@font-face {
    font-family: 'Open Sans Condensed';
    src: url("/fonts/OpenSansCondensed-Bold.ttf");
}
html {
    font-family: 'Open Sans';
    color: white;
}
body{
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
    text-decoration: none;
    display: block;
}

.cnt {
    width: 1110px;
    margin: 0 auto;
}

.header {
}

.header__body {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.header__left {
    display: flex;
}

.header__item {
    text-transform: uppercase;
    font-family: "Open Sans Condensed";
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
}

.header__item_underline {
    position: relative;
}

.header__item_underline:after {
    content: '';
    width: 100%;
    position: absolute;
    top: 30px;
    left: 0;
    height: 2px;
    background-color: #D1A954;
}

.header__item:not(:last-child) {
    margin: 0 50px 0 0;
}

.header__right {
}

.banner {
    background: linear-gradient(0deg, rgba(51, 51, 51, 0.85), rgba(51, 51, 51, 0.85)), url(/img/banner-bg.png) no-repeat;
    background-size: cover;
    position: relative;
    height: 1045px;
}

.banner__header {
    margin: 0 0 150px 0;
}

.banner__contacts {
    background: rgba(51, 51, 51, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
}

.contacts {
    width: 150px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.contacts__icons {
}

.icons {
    margin: 0 0 85px 0;
}

.icons__icon {
    text-align: center;
}

.icons__icon:not(:last-child) {
    margin: 0 0 30px 0;
}

.icons__icon_active {
}

.contacts__line {
    margin: 40px 0;
    width: 3px;
    background-color: #fff;
    height: 80px;
}

.contacts__text {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #C4C4C4;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.banner__main {
    display: flex;
}

.cnt {
}

.banner__body {
    padding-top: 100px;
}

.banner__tittle {
    margin: 0 0 50px 0;
}

.tittle {
    font-family: 'Open Sans Condensed';
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.banner__text {
    font-size: 14px;
    line-height: 150%;
    margin: 0 0 50px 0;
}

.banner__button {
}

.btn {
    font-family: 'Open Sans Condensed';
    font-size: 18px;
    line-height: 25px;
    display: inline-block;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background: #D1A954;
    padding: 10px 50px;

}

.banner__slider {
    width: 370px;
    height: 570px;
    background-color: #fff;
    flex: 1 0 auto;
    color: black;
}

.slider {
}